// font-size
$h1: 64px;
$title: 24px;
$text: 18px;
$small-text: 13px;

$h1-1200: 48px;
$text-1200: 14px;
$title-1200: 18px;
$small-text-1200: 12px;

$h1-800: 36px;
// color
$nav-line:#BABBC5;

$nav-hover: #BABBC5;
$nav-active: #E71414;

$btn-normal:  #FF4343;
$btn-hover: #E71414;

$grid_bg-hover: rgba(255, 67, 67, 0.8);
$grid_bg-active: rgba(185, 12, 12, 0.8);